html,
body {
    margin: 0;
    padding: 0;
    background: #1488CC;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2B32B2, #1488CC);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2B32B2, #1488CC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

body {
    min-height: 100vh;
    text-align: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    font-family: Arial, Verdana, sans-serif;
    font-size: 24px;
    color: #fff;
}

a {
    color: #fff;
}

.icon {
    width: 150px;
    margin: 0 auto;
}
